<!doctype HTML>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="{{url_for('static', filename='javascript/match.js')}}"></script>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/match.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="table">
        <ul class="boardSide enemySide">
            <li class="boardCard card"></li>
            <li class="boardCard card"></li>
            <li class="boardCard card"></li>
            <li class="boardCard card"></li>
        </ul>
        <ul class="boardSide allySide">
            <li class="boardCard card"></li>
            <li class="boardCard card"></li>
            <li class="boardCard card"></li>
            <li class="boardCard card"></li>
        </ul>
    </div>

    <ul class="hand">
        <li class="handCard card"></li>
    </ul>
    
    <div class="scale"></div>
    <div class="bell"></div>
    <div class="bones"></div>
    <div class="candle"></div>
    <div class="skullCandle"></div>
    
</body>